<a href="https://colab.research.google.com/github/veliyorganci/Statistics_Exercises/blob/main/Session_5_(Hypothesis_Testing).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# One Sample Z Test

Performed when the population means and standard deviation are known.

## Example-1

- Suppose that a beach is safe to swim if the mean level of lead in the water is 10.0 (μ0) parts/million.  
- We assume Xi ~ N(μ, σ = 1.5)
- Water safety is going to be determined by taking 40 water samples and using the test statistic. 
- Sample mean = 10.5
- α = 0.05

In [14]:
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns

In [15]:
import scipy.stats as stats
from math import sqrt

In [16]:
# H0 : mu = 10
# H1 : mu > 10

In [17]:
x_bar = 10.5
n = 40
sigma = 1.5 
mu =  10

Calculate the test statistic

In [18]:
z = (x_bar - mu) / (sigma/np.sqrt(n))
z

2.1081851067789197

Calculate the p-value

In [20]:
p_value = 1 - stats.norm.cdf(z)
p_value

0.017507490509831247

In [ ]:
# α = 0.05

In [21]:
alpha = 0.05

if p_value<alpha:
    print('At {} level of significance, we can reject the null hypothesis in favor of alternative hypothesis.'.format(alpha))
else:
    print('At {} level of significance, we fail to reject the null hypothesis.'.format(alpha))

At 0.05 level of significance, we can reject the null hypothesis in favor of alternative hypothesis.

## Example-2

- A department store manager determines that a new billing system will be cost-effective only if the mean monthly account is more than 170 dollars.
- A random sample of 400 monthly accounts is drawn, for which the sample mean is 178 dollars. 
- The accounts are approximately normally distributed with a standard deviation of 65 dollars.


- Can we conclude that the new system will be cost-effective?

In [ ]:
# H0 : mu = 170
# H1 > mu = 170

In [23]:
x_bar =  178
n = 400
sigma = 65
mu =  170

Calculate the test statistic

In [24]:
z = (x_bar - mu) / (sigma/np.sqrt(n))
z

2.4615384615384617

In [26]:
#standart error

sigma/ np.sqrt(n)

3.25

In [25]:
p_value = 1 - stats.norm.cdf(z)
p_value

0.006917128192854505

In [27]:
# alternatif p value

1 - stats.norm.cdf(178, 170, 3.25)

0.006917128192854505

In [28]:
alpha = 0.05

if p_value<alpha:
    print('At {} level of significance, we can reject the null hypothesis in favor of alternative hypothesis.'.format(alpha))
else:
    print('At {} level of significance, we fail to reject the null hypothesis.'.format(alpha))

At 0.05 level of significance, we can reject the null hypothesis in favor of alternative hypothesis.

# One Sample t Test

## Example-1

- Bon Air ELEM has 1000 students. The principal of the school thinks that the average IQ of students at Bon Air is at least 110. To prove her point, she administers an IQ test to 20 randomly selected students. 
- Among the sampled students, the average IQ is 108 with a standard deviation of 10. 
- Based on these results, should the principal accept or reject her original hypothesis? α = 0.01

In [30]:
x_bar =  108
n = 20
s = 10
mu =  110
alpha = 0.01    ## yüksek güvenirlilik 0.05 'göre elbette

Calculate the test statistic

In [31]:
t = (x_bar - mu) / (s/np.sqrt(n))
t

-0.8944271909999159

In [33]:
p_value = stats.t.cdf(t, df=n-1)   # p_value oldukça yüksek geldi
p_value

0.1911420676837155

In [34]:
if p_value<alpha:
    print('At {} level of significance, we can reject the null hypothesis in favor of alternative hypothesis.'.format(alpha))
else:
    print('At {} level of significance, we fail to reject the null hypothesis.'.format(alpha))

At 0.01 level of significance, we fail to reject the null hypothesis.

### From a dataset

In [35]:
pip install statsmodels

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: statsmodels in /usr/local/lib/python3.7/dist-packages (0.12.2)
Requirement already satisfied: scipy>=1.1 in /usr/local/lib/python3.7/dist-packages (from statsmodels) (1.7.3)
Requirement already satisfied: patsy>=0.5 in /usr/local/lib/python3.7/dist-packages (from statsmodels) (0.5.2)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from statsmodels) (1.21.6)
Requirement already satisfied: pandas>=0.21 in /usr/local/lib/python3.7/dist-packages (from statsmodels) (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21->statsmodels) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21->statsmodels) (2022.2.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from patsy>=0.5->statsmodels) (1.15.0)

In [36]:
import statsmodels.api as sm

In [37]:
df = sm.datasets.get_rdataset(dataname = "Pima.tr", package = "MASS")
df.keys()

dict_keys(['data', '__doc__', 'package', 'title', 'from_cache'])

In [38]:
print(df.__doc__)

.. container::

   ======= ===============
   Pima.tr R Documentation
   ======= ===============

   .. rubric:: Diabetes in Pima Indian Women
      :name: diabetes-in-pima-indian-women

   .. rubric:: Description
      :name: description

   A population of women who were at least 21 years old, of Pima Indian
   heritage and living near Phoenix, Arizona, was tested for diabetes
   according to World Health Organization criteria. The data were
   collected by the US National Institute of Diabetes and Digestive and
   Kidney Diseases. We used the 532 complete records after dropping the
   (mainly missing) data on serum insulin.

   .. rubric:: Usage
      :name: usage

   ::

      Pima.tr
      Pima.tr2
      Pima.te

   .. rubric:: Format
      :name: format

   These data frames contains the following columns:

   ``npreg``
      number of pregnancies.

   ``glu``
      plasma glucose concentration in an oral glucose tolerance test.

   ``bp``
      diastolic blood pressure (mm Hg).

   ``skin``
      triceps skin fold thickness (mm).

   ``bmi``
      body mass index (weight in kg/(height in m)\ ``^2``).

   ``ped``
      diabetes pedigree function.

   ``age``
      age in years.

   ``type``
      ``Yes`` or ``No``, for diabetic according to WHO criteria.

   .. rubric:: Details
      :name: details

   The training set ``Pima.tr`` contains a randomly selected set of 200
   subjects, and ``Pima.te`` contains the remaining 332 subjects.
   ``Pima.tr2`` contains ``Pima.tr`` plus 100 subjects with missing
   values in the explanatory variables.

   .. rubric:: Source
      :name: source

   Smith, J. W., Everhart, J. E., Dickson, W. C., Knowler, W. C. and
   Johannes, R. S. (1988) Using the ADAP learning algorithm to forecast
   the onset of *diabetes mellitus*. In *Proceedings of the Symposium on
   Computer Applications in Medical Care (Washington, 1988),* ed. R. A.
   Greenes, pp. 261–265. Los Alamitos, CA: IEEE Computer Society Press.

   Ripley, B.D. (1996) *Pattern Recognition and Neural Networks.*
   Cambridge: Cambridge University Press.

In [39]:
df.data

     npreg  glu  bp  skin   bmi    ped  age type
0        5   86  68    28  30.2  0.364   24   No
1        7  195  70    33  25.1  0.163   55  Yes
2        5   77  82    41  35.8  0.156   35   No
3        0  165  76    43  47.9  0.259   26   No
4        0  107  60    25  26.4  0.133   23   No
..     ...  ...  ..   ...   ...    ...  ...  ...
195      2  141  58    34  25.4  0.699   24   No
196      7  129  68    49  38.5  0.439   43  Yes
197      0  106  70    37  39.4  0.605   22   No
198      1  118  58    36  33.3  0.261   23   No
199      8  155  62    26  34.0  0.543   46  Yes

[200 rows x 8 columns]

In [40]:
df = df.data

In [41]:
df.head()

   npreg  glu  bp  skin   bmi    ped  age type
0      5   86  68    28  30.2  0.364   24   No
1      7  195  70    33  25.1  0.163   55  Yes
2      5   77  82    41  35.8  0.156   35   No
3      0  165  76    43  47.9  0.259   26   No
4      0  107  60    25  26.4  0.133   23   No

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   npreg   200 non-null    int64
 1   glu     200 non-null    int64
 2   bp      200 non-null    int64
 3   skin    200 non-null    int64
 4   bmi     200 non-null    float64
 5   ped     200 non-null    float64
 6   age     200 non-null    int64
 7   type    200 non-null    object
dtypes: float64(2), int64(5), object(1)
memory usage: 12.6+ KB

In [43]:
df.describe()

,npreg,glu,bp,skin,bmi,ped,age
count,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000
mean,3.570000,123.970000,71.260000,29.215000,32.310000,0.460765,32.110000
std,3.366268,31.667225,11.479604,11.724594,6.130212,0.307225,10.975436
min,0.000000,56.000000,38.000000,7.000000,18.200000,0.085000,21.000000
25%,1.000000,100.000000,64.000000,20.750000,27.575000,0.253500,23.000000
50%,2.000000,120.500000,70.000000,29.000000,32.800000,0.372500,28.000000
75%,6.000000,144.000000,78.000000,36.000000,36.500000,0.616000,39.250000
max,14.000000,199.000000,110.000000,99.000000,47.900000,2.288000,63.000000

In [ ]:
# suppose we hypothesize that the population mean of bmi among Pima Indian women is above 30.
# Because we found sample mean as x_bar = 32.3

In [ ]:
# bmi mean: 
# Ho: mu = 30
# Ha: mu >30

In [44]:
df.bmi.mean()

32.31

In [ ]:
# sample size (n) = 200
# sample std (s)= 6.13
# sample mean (x_bar)= 32.31

In [45]:
onesample = stats.ttest_1samp(df.bmi, 30, alternative='greater')
onesample

Ttest_1sampResult(statistic=5.329070841262502, pvalue=1.3307205153727868e-07)

In [47]:
onesample.statistic

5.329070841262502

In [49]:
1 -  stats.t.cdf(onesample.statistic, 199)

1.3307205160018043e-07

In [ ]:
#help(stats.ttest_1samp)

In [46]:
stats.ttest_1samp(df.bmi, 30)

Ttest_1sampResult(statistic=5.329070841262502, pvalue=2.6614410307455736e-07)